.display-inline-block{
    display: inline-block;
}

.nowrap{
    white-space: nowrap;
}

.form-control{
    border-radius: none;
}

.mb-100 {
    margin-bottom: 100px;
}

.pagination, .justify-center{
    justify-content: center;
}
.mt-20{
    margin-top: 20px;
}

.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}
.alert label {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}